<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDAO">
  <insert id="insertBoard" 
  	useGeneratedKeys="true" 
  	keyProperty="board.bd_num"
  	parameterType="kr.green.spring.vo.BoardVO">
  	insert into 
  		board(bd_title, bd_contents, bd_reg_date,
  			bd_type, bd_me_id, bd_ori_num, bd_del)
  		select #{board.bd_title}, #{board.bd_contents}, now(),
  			#{board.bd_type}, #{board.bd_me_id}, 
  			ifnull(max(bd_num),0)+1, 'N'
  			from board;
  </insert>
  <select id="getBoardList" resultType="kr.green.spring.vo.BoardVO">
  	select * from board 
  		where bd_type = #{type} and bd_del = 'N' and bd_title like concat('%',#{cri.search},'%') 
  		order by bd_num desc
  		limit #{cri.pageStart}, #{cri.perPageNum}
  </select>
  <select id="getBoard" resultType="kr.green.spring.vo.BoardVO">
  	select * from board where bd_num = #{bd_num} and bd_del = 'N'
  </select>
  <update id="deleteBoard">
  	update board set
  		bd_del = 'Y',
  		bd_del_date = now()
  	where bd_num = #{bd_num} 
  </update>
  <update id="updateBoard">
  	update board set
  		bd_title = #{board.bd_title},
  		bd_contents = #{board.bd_contents},
  		bd_up_date = #{board.bd_up_date}
  	where bd_num = #{board.bd_num}
  </update>
  <insert id="insertFile">
  	insert into file(fi_ori_name, fi_name, fi_bd_num)
  		values(#{file.fi_ori_name},#{file.fi_name},#{file.fi_bd_num})
  </insert>
  <select id="selectFileList" resultType="kr.green.spring.vo.FileVO">
  	select * from file 
  		where fi_bd_num = #{bd_num} and (fi_del != 'Y' || fi_del is null)
  </select>
  <update id="deleteFile">
  	update file set
  		fi_del = 'Y',
  		fi_del_date = now()
  	where fi_num = #{fi_num}
  </update>
  <select id="selectCountBoard" resultType="int">
  	select count(*) from board 
  		where bd_type = #{type} and bd_del = 'N' and bd_title like concat('%',#{cri.search},'%')
  </select>
</mapper>

