<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.MemberDAO">
  <select id="getMember" resultType="kr.green.spring.vo.MemberVO">
  	select * from member where me_id = #{me_id}
  </select>
  <insert id="insertMember">
  	insert into member(me_id, me_pw, me_name, me_gender, me_birth, 
  		me_address, me_phone) 
  	values(#{user.me_id},#{user.me_pw},#{user.me_name},#{user.me_gender}
  	,#{user.me_birth},#{user.me_address},#{user.me_phone})
  </insert>
  <update id="updateMember">
  	update member set
  		me_pw = #{user.me_pw},
  		me_name = #{user.me_name},
  		me_gender = #{user.me_gender},
  		me_birth = #{user.me_birth},
  		me_address = #{user.me_address},
  		me_phone = #{user.me_phone}
  		<if test="user.me_authority != null">
  		,me_authority = #{user.me_authority}
  		</if>
  	where me_id = #{user.me_id}
  </update>
  <select id="findMember" resultType="kr.green.spring.vo.MemberVO">
  	select me_id from member 
  		where me_email = #{user.me_email} and me_name = #{user.me_name}
  		limit 1
  </select>
  <select id="selectMemeberList" resultType="kr.green.spring.vo.MemberVO">
  	select * from member where me_authority != '슈퍼 관리자'
  </select>
  <update id="updateAutoLogin">
  	update member set
  		me_session_id = #{user.me_session_id},
  		me_session_limit = #{user.me_session_limit}
 		where me_id = #{user.me_id}
  </update>
  <select id="selectMemberBySessionId" resultType="kr.green.spring.vo.MemberVO">
  	select * from member 
  		where me_session_id = #{me_session_id} and me_session_limit >= now()
  </select>
  <select id="pramTest1" resultType="kr.green.spring.vo.MemberVO">
  	select * from member where me_id = #{user.me_id}
  </select>
  <select id="pramTest2" resultType="kr.green.spring.vo.MemberVO">
  	select * from member where me_id = #{me_id}
  </select>
  <select id="pramTest3" resultType="kr.green.spring.vo.MemberVO">
  	select * from member where me_id = #{me_id} and me_name= #{me_name}
  </select>
  <select id="selectMainCategory" resultType="kr.green.spring.vo.MainCategoryVO">
  	select * from maincategory
  </select>
  <select id="selectMiddleCategory" resultType="kr.green.spring.vo.MiddleCategoryVO">
  	select * from middlecategory where mi_ma_num = #{mi_ma_num}
  </select>
  <select id="selectSubCategory" resultType="kr.green.spring.vo.SubCategoryVO">
  	select * from subcategory where su_mi_num = #{su_mi_num}
  </select>
</mapper>

