<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.green.dao.BoardDAO">
	<select id="selectBoardList" resultType="kr.green.green.vo.BoardVO">
		select * from board where bd_type = #{bd_type} and bd_del = 'N'
			order by bd_num desc
	</select>
	<select id="selectBoard" resultType="kr.green.green.vo.BoardVO">
		select * from board where bd_num = #{bd_num} and bd_del = 'N'
	</select>
	<insert id="insertBoard" 
		useGeneratedKeys="true"
		keyProperty="board.bd_num"
		parameterType="kr.green.green.vo.BoardVO">
		insert into 
			board(
				bd_title,
				bd_contents,
				bd_me_id,
				bd_reg_date,
				bd_type,
				bd_ori_num,
				bd_del 
			)
		select 
			#{board.bd_title}, 
			#{board.bd_contents}, 
			#{board.bd_me_id}, 
			now(),
			#{board.bd_type}, 
			ifnull(max(bd_num),0)+1,
			'N'
		from board
	</insert>
	<update id="updateBoard">
		update board set
			bd_title = #{board.bd_title},
			bd_contents = #{board.bd_contents},
			bd_up_date = now()
		where bd_num = #{board.bd_num}
	</update>
	<update id="deleteBoard">
		update board set
			bd_del = 'Y',
			bd_del_date = now()
		where bd_num = #{b}
	</update>
	<insert id="insertFile">
		insert into file(fi_ori_name, fi_name, fi_bd_num)
		values(#{file.fi_ori_name}, #{file.fi_name}, #{file.fi_bd_num})
	</insert>
	<select id="selectFileList" resultType="kr.green.green.vo.FileVO">
		select * from file where fi_bd_num = #{bd_num}
	</select>
</mapper>