<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.green.dao.CommentDAO">
	<insert id="insertComment">
		insert into 
			comment(co_bd_num, co_me_id, co_contents, co_ori_num)
			select 
				#{comment.co_bd_num}, 
				#{comment.co_me_id}, 
				#{comment.co_contents}, 
				ifnull(max(co_num),0)+1
			from comment
	</insert>
	<select id="selectCommentList" resultType="kr.green.green.vo.CommentVO">
		select * from comment
			where co_bd_num = #{bd_num} and co_del = 'N'
			order by co_ori_num desc, co_num asc
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCommentCount" resultType="int">
		select count(*) from comment
			where co_bd_num = #{bd_num} and co_del = 'N'
	</select>
	<select id="selectComment" resultType="kr.green.green.vo.CommentVO">
		select * from comment
			where co_num = #{co_num} and co_del = 'N'
	</select>
	<update id="deleteComment">
		update comment set co_del = 'Y' where co_num = #{co_num}
	</update>
	<update id="updateComment">
		update comment set co_contents = #{comment.co_contents} 
			where co_num = #{comment.co_num}
	</update>
</mapper>



