<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.green.dao.MemberDAO">
	<insert id="insertMember">
		insert into 
			member(me_id, me_pw, me_name, me_gender, 
				me_birth, me_address, me_phone)
			values(#{user.me_id},#{user.me_pw},#{user.me_name},#{user.me_gender},
				#{user.me_birth},#{user.me_address},#{user.me_phone})
	</insert>
	<select id="selectMember" resultType="kr.green.green.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<update id="updateMember">
		update member set 
			me_pw        = #{user.me_pw},
			me_name      = #{user.me_name},
			me_birth     = #{user.me_birth},
			me_address   = #{user.me_address},
			me_gender    = #{user.me_gender},
			me_phone     = #{user.me_phone},
			me_authority = #{user.me_authority}
		where me_id = #{user.me_id}
	</update>
	<select id="selectIdByEmail" resultType="String">
		select me_id from member 
			where me_email = #{user.me_email} and me_name = #{user.me_name}
			limit 1 
	</select>
</mapper>